<div>
	<h3>Filter</h3>
	<f:form action="list" name="demand" controller="User" object="{demand}">

	</f:form>
</div>

<div>
	<f:render partial="Pagination"
			  arguments="{pagination: pagination.pagination, paginator: pagination.paginator, actionName: 'list'}"/>
	<f:for each="{pagination.paginator.paginatedItems}" as="user">
		<div>

			<f:link.action action="show" controller="User" pageUid="{settings.showPid}" arguments="{user: user.uid}">
				<h3>{user.username}</h3>

				<p>{user.address}<br/> {user.zip} {user.city}</p>

				<f:if condition="{user.telephone}">
					<p>Phone: {user.telephone}</p>
				</f:if>

				<f:if condition="{user.email}">
					<f:link.email email="{user.email}">{user.email}</f:link.email>
				</f:if>

			</f:link.action>

			<f:if condition="{user.categories}">
				<f:for each="{user.categories}" as="category">
					<f:link.action action="list"
								   controller="User"
								   arguments="{demand: {categories: {0: category.uid}}}">
						{category.title}
					</f:link.action>
				</f:for>
			</f:if>

		</div>
	</f:for>
	<f:render partial="Pagination"
			  arguments="{pagination: pagination.pagination, paginator: pagination.paginator, actionName: 'list'}"/>
</div>
