<f:layout name="Administration/Default"/>

<f:section name="main">

	<h1>Importer</h1>

	<h3>CSV Upload</h3>

	<f:form method="POST">
		<div class="form-group">
			<div class="form-section">
				<div class="form-group">
					<label>File:</label>
					<div class="form-control-wrap">
						<f:form.upload name="csvFile"/>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="form-group">
				<f:form.submit class="btn btn-default" value="Upload file" />
			</div>
		</div>
	</f:form>

</f:section>
